#Headermain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(19, 18, 18);
}
.Mainadmin{
    padding-top: 20px;
}

#main {
    margin-left: 700px;    
}

.Card{
    
    margin-top: 20px;
    width: 100rem;
    padding-left: 20%;
}

#cardEvent{
    width: 1000px;
}

.Event{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 75px;
}

#Number{
    margin-left: 400px;
    font-weight: bold;
}