#Headermain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(19, 18, 18);
}

.Addcan{
    padding-top: 20px;
    width: 1200px;
    margin-left: 170px;
}
 
#imgcan{
    width: 250px;
}

.AddCanMain{
    background-color: rgb(173, 232, 249);
}